*{margin:0; padding:0;box-sizing: border-box;}
:root{font-family: Arial, Helvetica, sans-serif; font-size: 1rem;
--cor-primaria:#ffffff;
--cor-secundario:#b22222;}
body{display: flex;height:100vh;}
main{display: flex;flex: 1;flex-direction: column;padding:0 16px ;}
img{height: 64px;width: 64px;margin: 16px auto;}
h1{text-align: center;margin-bottom: 24px;}
label{margin-bottom: 8px;font-weight: bold;}
input{line-height: 1.6;border: 1px solid var(--cor-primaria);padding: 0;border-radius: 8px; margin-bottom: 16px;}
button{padding: 0.5rem;border-radius: 8px;margin-bottom: 16px;border: 1px solid var(--cor-secundario);}